<div class="container">
    <h4>Carrito de Compras</h4>
    <ul class="carrito">
        {{#if cartGroupedProducts.length}}
                <strong class="total">Total: ${{total}}</strong>
            {{#each cartGroupedProducts}}
                <li>
                    <img class="infoFotoCart" src="{{this.thumbnail.[0]}}" alt="{{this.title}}">  <strong>Producto:</strong> {{this.title}}  <strong>Precio:</strong> ${{this.price}} <strong>Cantidad:</strong> {{this.totalQuantity}}
                    <strong>Subtotal:</strong> {{this.subtotal}} <button class="btnEliminar" data-product-id="{{this._id}}" data-cart-id="{{../cartId}}">Eliminar</button>
                </li>
            {{/each}}
                <button  id="finalize-purchase" data-cart-id="{{cartId}}"> Finalizar compra </button>
        {{else}}
            <p>El carrito está vacío.</p>
        {{/if}}
    </ul>
    <div class="volver">
        <a href="/api/views/home">Volver a home</a>
    </div>
</div>
    <script src="/js/cart.js"></script>

