<div class="saludo">
    <div class="logo">
        <h1>ROCKIANDO SPORT</h1>
    </div>
    <div class="saludoPadre">
        <div class="saludoUser">
            <h2>Bienvenido {{user.nombre}} {{user.apellido}} </h2>
        </div>
        <div class="boton">
            <div class="btnCarrito">
                <a href="/api/views/cart">Carrito</a>
            </div>
            <div class="btnPerfil">
                <a href="/api/views/profile" class="btnPerfil">Perfil</a>
            </div>
            <form action="/api/session/logout" method="POST">
                <button type="submit" class="btnCerrar">Cerrar Sesión</button>
            </form>

        </div>
    </div>
</div>

<div class="contenedorFilter">
    <!-- Menú desplegable para filtrar por categoría -->
    <div class="sectionCategory">
        <select id="categoria-select" onchange="filtrarProductos()" class="category">
            <option value="mujer">Mujer</option>
            <option value="hombre">Hombre</option>
            <option value="niño">Niño</option>
        </select>
    </div>
    <div class="sectionInput">
        <p class="Limite">Limite</p>
        <input type="number" id="limit-input" placeholder="Limit" value="5" class="limit">
        <input type="text" id="query-input" placeholder="Buscar" class="buscador">
        <select id="sort-select" class="precios">
            <option value="">Precios</option>
            <option value="desc">Mayor a menor</option>
            <option value="asc">Menor a mayor</option>
        </select>
        <button onclick="filtrarProductos()" class="btnCerrar">Buscar</button>
    </div>
    <div class="volver">
        <a href="/api/views/home"> Home </a>
    </div>
</div>

<div id="productos" class="contenedorCarts">
    <!-- Aquí se mostrarán los productos filtrados -->
</div>

<div id="contenedorPrincipal" class="container">
    {{#if result.isValid}}
    <div class="contenedorCarts">
        {{#each result.docs}}
        <div class="carts">
            <img class="infoFoto" src="{{this.thumbnail.[0]}}" alt="{{this.title}}">
            <strong class="info">{{this.title}}</strong>
            <strong class="info">Precio: ${{this.price}}</strong>
            <a href="/api/views/productDetail/{{this._id}}" class="btnDetail">Ver detalles</a>
        </div>
        {{/each}}
    </div>
    <div class="paginate">
        {{#if result.hasPrevPage}}
        <a href="{{result.prevLink}}">
            << Anterior</a>
                {{/if}}
                <span> Pagina {{result.page}} de {{result.totalPages}}</span>
                {{#if result.hasNextPage}}
                <a href="{{result.nextLink}}">Siguiente >></a>
                {{/if}}
    </div>
    {{else}}
    <h1>No hay productos para mostrar</h1>
    {{/if}}
</div>

<script src="/js/filterProduct.js"></script>